<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../Assets/styles/common.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../Assets/scripts/common.js"></script>
    <script src="../../Assets/scripts/validations.js"></script>
    <script src="../../Assets/scripts/billScripts/inPatientBill.js"></script>
</head>
<body>
    <section id="billForm" class="m-5">
        <div class="float-right mb-5 ml-10">
            <form class="flex">
                <input type="text" name="patientId" required id="patientId" placeholder="patientId" onblur="validateNumber('patientId')" class=" mx-2 w-40 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                <button type="button" class="mx-2 px-3 bg-indigo-100 rounded-lg" onclick="generateBill()" style="width: fit-content;">Generate Bill</button>
            </form>
        </div>
        <div class="flex flex-col mx-auto my-5 p-5" style="clear: both;">
            <div class="h-20 w-50 text-center">
                <h1 class="font-extrabold text-2xl text-indigo-800">Hospital Name</h1>
                <p>Location , Address<span>ContactNo</span></p>
            </div>
            <div class="grid grid-cols-3 h-30 mx-auto mt-10" style="width: 65%;">
                <div class="font-semibold col-span-2">
                    <div class="grid-cols-2">
                        <div>Receipt Id </div>
                        <div><span id="receiptId"></span></div>
                    </div>
                    <div class="grid-cols-2">
                        <div>Date</div>
                        <div><span id="date"></span></div>
                    </div>
                </div>
                <div class="font-semibold">
                    <div class="grid grid-cols-3">
                        <div class="col-span-2">Patient Name : </div>
                        <div><span id="patientName"></span></div>
                    </div>
                    <div class="grid grid-cols-3">
                        <div class="col-span-2">Age : </div>
                        <div><span id="patientAge"></span></div>
                    </div>
                    <div class="grid grid-cols-3">
                        <div class="col-span-2">ContactNumber: </div>
                        <div><span id="contactNumber"></span></div>
                    </div>
                    <div class="grid grid-cols-3">
                        <div class="col-span-2">AdmittedDate: </div>
                        <div><span id="admittedDate"></span></div>
                    </div>
                    <div class="grid grid-cols-3">
                        <div class="col-span-2">NoOfDaysAdmitted: </div>
                        <div><span id="noOfDays"></span></div>
                    </div>
                </div>
            </div>
            <div id="detailTable" class="mt-10">
                <div class="overflow-hidden mx-auto" style="clear: both; width: 65%;">
                    <table class="min-w-full border-1 divide-y divide-gray-200 text-center">
                        <thead class="bg-indigo-200">
                            <tr class="text-md font-medium">
                                <th scope="col" class="px-6 py-3">
                                    RoomType</th>
                                <th scope="col" class="px-6 py-3">
                                    NumberOfDays</th>
                                <th scope="col" class="px-6 py-3">
                                    CostPerDay</th>
                                <th scope="col" class="px-6 py-3">
                                    TotalCost</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200" id="tableBody">
                           
                        </tbody>
                        <tfoot>
                            <tr class="whitespace-nowrap text-sm">
                                <td colspan="3" class="px-4 py-2 font-medium text-end">Total Amount</td>
                                <td class="px-4 py-2 font-medium" id="totalAmount"></td>
                            </tr>
                            <tr class="whitespace-nowrap text-sm">
                                <td colspan="3" class="px-4 py-2 font-medium text-end">DoctorFee</td>
                                <td class="px-4 py-2 font-medium" id="doctorFee"></td>
                            </tr>
                            <tr class="whitespace-nowrap text-sm">
                                <td colspan="3" class="px-4 py-2 font-medium text-end">Tax</td>
                                <td class="px-4 py-2 font-medium" id="tax"></td>
                            </tr>
                            <tr class="whitespace-nowrap text-sm">
                                <td colspan="3" class="px-4 py-2 font-medium text-end">Grand Total</td>
                                <td class="px-4 py-2 font-medium" id="grandTotal"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>
</html>