<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RVPBS Multispeciality hospital</title>
    <link rel="icon" type="image/x-icon"
        href="../../Assets/images/logo_bg.png">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../Assets/styles/common.css">
    <style>
        .addBgColor{
            background-color: #c7d2fe;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../Assets/scripts/common.js"></script>
    <script src="../../Assets/scripts/validations.js"></script>
    <script src="../../Assets/scripts/patientScripts/inPatient.js"></script>
</head>
<body>
    <div class="loader"></div>
    <nav class="md:flex md:items-center md:justify-between p-5 align-middle bg-[#4a249d] text-white"
    style="position: fixed;width: 100%;z-index: 1000;">
    <div class="flex justify-between items-center">
      <img src="../../Assets/images/logo_bg.png" style="width: 15%;" />
      <a class="cursor-pointer mx-2 mt-0 md:hidden block text-white" onclick="menu(this)"><i class="bi bi-list-task fs-4" name="menu"
          style="font-size: 2rem;"></i></a>
    </div>
    <ul
      class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-[#4a249d]  w-full left-0 md:w-auto md:py-0 py-5 md:pt-0 pl-7 md:opacity-100  opacity-0  top-[-400px] transition-all ease-in duration-300">
      <li class="uppercase m-4 md:my-0"><a href="./ReceptionistDashboard.html">Home</a></li>
      <li class="uppercase m-4  md:my-0 logInNav"><a href="./billDetails.html">Bills</a></li>
      <li class="uppercase m-4  md:my-0 logInNav"><a href="./InPatientDetails.html" class="active">InPatientDetails</a></li>
      <li class="uppercase m-4  md:my-0 logInNav"><a href="#" onclick="logOut()">LogOut</a></li>
    </ul>
  </nav>
    <section style="margin-top: 95px;">
        <h1 class="uppercase text-3xl text-[#4A249D] text-center font-extrabold">Manage InPatient</h1>
        <div class="float-left my-5 ml-10" style="width: 30%;">
            <div class="w-full">
                <div class="relative">
                  <ul class="relative flex flex-wrap p-1 list-none rounded-lg bg-gray-100" data-tabs="tabs" role="list">
                    <li class="z-30 flex-auto text-center">
                      <a onclick="UpdateTab(this, 'updatePatient')" id="createPatient" class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 border-0 rounded-lg cursor-pointer text-slate-700">
                        <span class="ml-1 font-semibold">Create</span>
                      </a>
                    </li>
                    <li class="z-30 flex-auto text-center">
                      <a onclick="UpdateTab(this, 'createPatient')" id="updatePatient" class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 border-0 rounded-lg cursor-pointer text-slate-700">
                        <span class="ml-1 font-semibold">Update</span>
                      </a>
                    </li>
                  </ul>
                </div>
            </div> 
        </div>
        <p class="z-30 flex-auto text-center float-right px-1 py-1 rounded-lg  bg-gray-100 mr-10">
            <a onclick="Update(this)" id="updateDoctor" class=" w-full p-2 z-30 flex items-center justify-center w-full px-0 py-1 mb-0 border-0 rounded-lg cursor-pointer text-slate-700">
              <span class="ml-1 font-semibold">Update Doctor</span>
            </a>
        </p>
        <div class="p-3" style="clear: both;">
            <div class="mx-auto w-full bg-white" id="addDataDynamically">
                
            </div>
        </div>
    </section> 
    
    <div id="alertModal"  class="fixed hidden z-50 inset-0 bg-gray-900 bg-opacity-60 overflow-y-auto h-full w-full px-4 ">
        <div class="relative top-40 mx-auto shadow-xl rounded-md bg-white max-w-md">
            <div class="flex justify-end p-2">
                <button onclick="closeModal('alertModal')" type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                    <i class='bx bx-x bx-lg'></i>
                </button>
            </div>     
            <div class="p-6 pt-0 text-center">
                <h3 class="text-2xl uppercase mt-3 mb-2 font-extrabold" id="headerMessage"></h3>
                <p id="message"></p>
                <div class="items-center px-4 py-3">
                   <button id="otpProceedBtn" class="px-4 py-2 bg-[#4A249D] text-white text-base font-medium rounded-md w-70
                       shadow-sm hover:bg-[#4A249D] focus:outline-none focus:ring-2 focus:bg-[#4A249D]" onclick="closeModal('alertModal')">
                       Ok
                   </button>        
               </div>
            </div>     
        </div>
    </div>
</body>
</html>
