<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../Assets/styles/common.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../Assets/scripts/common.js"></script>
    <script src="../../Assets/scripts/validations.js"></script>
    <script src="../../Assets/scripts/patientScripts/medicalRecord.js"></script>
</head>
<body>
    <div class="loader"></div>
    <nav class="md:flex md:items-center md:justify-between p-5 align-middle bg-[#4a249d] text-white"
  style="position: fixed;width: 100%;z-index: 1000;">
  <div class="flex justify-between items-center">
    <img src="../../Assets/images/logo_bg.png" style="width: 15%;" />
    <a class="cursor-pointer mx-2 mt-0 md:hidden block text-white" onclick="menu(this)"><i class="bi bi-list-task fs-4" name="menu"
        style="font-size: 2rem;"></i></a>
  </div>
  <ul
    class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-[#4a249d]  w-full left-0 md:w-auto md:py-0 py-5 md:pt-0 pl-7 md:opacity-100  opacity-0  top-[-400px] transition-all ease-in duration-300">
    <li class="uppercase m-4 md:my-0"><a href="./index.html" class="active">Home</a></li>
    <li class="uppercase m-4  md:my-0 logInNav"><a href="./MedicalRecords.html">MedicalRecords</a></li>
    <li class="uppercase m-4  md:my-0 logInNav"><a href="#" onclick="logOut()">LogOut</a></li>
  </ul>
</nav>
    <section style="margin-top: 85px;">
        <h1 class="uppercase text-3xl text-[#4A249D] text-center font-extrabold mb-10">Add Medical Record</h1>
        <div class="flex items-center justify-center p-12">
            <div class="mx-auto w-full max-w-[500px] bg-white">
                <form id="addMedicalRecordForm">
                    <div class="mb-5">
                        <label for="diagnosis" class="mb-3 block text-base font-medium text-[#07074D]">Diagnosis</label>
                        <input type="text" name="diagnosis" id="diagnosis" placeholder="Provide diagnosis here" onblur="validate('diagnosis')" required
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md break-words" />
                        <span id="diagnosistext" class="text-xs ml-3 none mt-0"></span>
                    </div>  
                    <div class="mb-5">
                        <label for="treatment" class="mb-3 block text-base font-medium text-[#07074D]">Treatement</label>
                        <textarea name="treatment" required onblur="validate('treatment')" id="treatment" rows="3" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md break-words" placeholder=""></textarea>
                        <span id="treatmenttext" class="text-xs ml-3 none mt-0"></span>
                    </div>                  
                    <div class="mb-5">
                        <label for="treatStatus" class="mb-3 block text-base font-medium text-[#07074D]">Treatement status</label>
                        <input list="treatStatusList" required name="treatStatus" onblur="validate('treatStatus')" id="treatStatus" placeholder="Treatement status here" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        <datalist id="treatStatusList">
                            <option value="Initialized">
                            <option value="Ongoing">
                            <option value="Completed">
                        </datalist>
                        <span id="treatStatustext" class="text-xs ml-3 none mt-0"></span>
                    </div>
                    <div>
                        <button type="button" id="createRecordBtn"
                            class="hover:bg-white hover:text-[#4A249D] hover:border-[#4A249D] hover:border-2 rounded-md bg-[#4A249D] w-full py-3 px-8 text-center text-base font-semibold text-white outline-none">
                            Create Patient Record
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div id="alertModal"  class="fixed hidden z-50 inset-0 bg-gray-900 bg-opacity-60 overflow-y-auto h-full w-full px-4 ">
        <div class="relative top-40 mx-auto shadow-xl rounded-md bg-white max-w-md">
            <div class="flex justify-end p-2">
                <button onclick="closeModal('alertModal')" type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                    <i class='bx bx-x bx-lg'></i>
                </button>
            </div>     
            <div class="p-6 pt-0 text-center">
                <h3 class="text-2xl uppercase mt-3 mb-2 font-extrabold" id="headerMessage"></h3>
                <p id="message"></p>
                <div class="items-center px-4 py-3">
                   <button id="otpProceedBtn" class="px-4 py-2 bg-[#4A249D] text-white text-base font-medium rounded-md w-70
                       shadow-sm hover:bg-[#4A249D] focus:outline-none focus:ring-2 focus:bg-[#4A249D]" onclick="closeModal('alertModal')">
                       Ok
                   </button>        
               </div>
            </div>     
        </div>
    </div>
</body>
</html>

