<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../Assets/styles/common.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../Assets/scripts/common.js"></script>
    <script src="../../Assets/scripts/validations.js"></script>
    <script src="../../Assets/scripts/patientScripts/medicalRecord.js"></script>
</head>

<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="#">Logo</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Logo</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="./doctorHome.html">Home</a></li>
                    <li><a href="./MedicalRecords.html">Medical Records</a></li>
                    <li><a onclick="logOut()">LogOut</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="margin-top: 85px;">
        <h1 class="uppercase text-3xl text-[#4A249D] text-center font-extrabold mb-10">Medical Records</h1>
        <div class="flex flex-row flex-wrap justify-between">
            <div class="mb-5 ml-10">
                <form class="flex justify-center">
                    <div class="w-30 py-3 px-5 rounded-md ring-1 mr-3 ring-[#e0e0e0]" id="idDisplay"></div>
                    <input type="text" name="patientName" id="patientName" onblur="validateName('patientName')"
                        placeholder="patientName"
                        class="w-40 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    <input type="text" name="contactNo" id="contactNo" onblur="validatePhone('contactNo')"
                        placeholder="contactNo"
                        class=" mx-2 w-40 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    <button type="button" class="mx-2 px-3 bg-indigo-100 rounded-lg" onclick="getPatientId()"
                        style="width: fit-content;">Get Patient</button>
                </form>
            </div>
            <div class="mb-5 mr-10">
                <form class="flex justify-center">
                    <input type="text" name="patientId" id="patientId" placeholder="Provide patientId"
                        onblur="validateNumber('patientId')"
                        class="w-15 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md break-words" />
                    <button type="button" class="w-25 mx-5 px-3 bg-indigo-100 rounded-lg" onclick="GetRecords()">Get
                        Records</button>
                </form>
            </div>
        </div>
        <div id="medicalRecord" style="clear: both;">
           
        </div>
    </section>

</body>

</html>

