<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Assets/styles/common.css">
    <style>
        span {
            font-weight: normal;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../Assets/scripts/common.js"></script>
    <script src="../Assets/scripts/bill.js"></script>
</head>

<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="#">Logo</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Logo</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">Our Services</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#">Appointments</a></li>
                            <li><a href="#">Online Consultation</a></li>
                            <li><a href="#">Health Plan</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Doctors</a>
                        <i class='bx bxs-chevron-down js-arrow arrow '></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="#">Dermatology</a></li>
                            <li><a href="#">Neurology</a></li>
                            <li><a href="#">Gynacology</a></li>
                            <li><a href="#">..</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="margin-top: 85px;">
        <div class="mb-10">
            <button type="button" onclick="redirectToInPatientBill()"
                class="hover:bg-white hover:text-[#4A249D] border-2 mx-5 hover:border-[#4A249D] rounded-md bg-[#4A249D] w-25 py-2 px-5 text-center text-base font-semibold text-white outline-none float-right">
                InPatient
            </button>
            <button type="button" onclick="redirectToOutPatientBill()"
                class="hover:bg-white hover:text-[#4A249D] border-2 mx-5 hover:border-[#4A249D] rounded-md bg-[#4A249D] w-25 py-2 px-5 text-center text-base font-semibold text-white outline-none float-right">
                OutPatient
            </button>
        </div>
        <div style="clear: both;">
            <h1 class="uppercase text-2xl text-[#4A249D] text-center font-extrabold mb-5">Pending Payments</h1>
            <div class="overflow-auto mx-auto" style="clear: both;width: 90%;">
                <table id="pendingBillsTable" class="min-w-full divide-y divide-gray-200 text-center">
                    <thead class="bg-indigo-200">
                        <tr class="text-md font-medium">
                            <th scope="col" class="px-6 py-3">
                                Patient Id</th>
                            <th scope="col" class="px-6 py-3">
                                Patient Name</th>
                            <th scope="col" class="px-6 py-3">
                                ContactNumber</th>
                            <th scope="col" class="px-6 py-3">
                                BillId</th>
                            <th scope="col" class="px-6 py-3">
                                IssueDate</th>
                            <th scope="col" class="px-6 py-3">
                                TotalAmount</th>
                            <th scope="col" class="px-6 py-3">
                                BalanceAmount</th>
                            <th scope="col" class="px-6 py-3">
                                Payment Status</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>

</html>