<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hospital Management</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Assets/styles/common.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../Assets/scripts/common.js"></script>
   </head>
<body>
    <nav>
        <div class="navbar">
          <i class='bx bx-menu'></i>
          <div class="logo"><a href="#">Logo</a></div>
          <div class="nav-links">
            <div class="sidebar-logo">
              <span class="logo-name">Logo</span>
              <i class='bx bx-x' ></i>
            </div>
            <ul class="links">
              <li><a href="#">Home</a></li>
              <li>
                <a href="#">Our Services</a>
                <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                <ul class="htmlCss-sub-menu sub-menu">
                    <li><a href="#">Appointments</a></li>
                    <li><a href="#">Online Consultation</a></li>
                    <li><a href="#">Health Plan</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Doctors</a>
                <i class='bx bxs-chevron-down js-arrow arrow '></i>
                <ul class="js-sub-menu sub-menu">
                    <li><a href="#">Dermatology</a></li>
                    <li><a href="#">Neurology</a></li>
                    <li><a href="#">Gynacology</a></li>
                    <li><a href="#">..</a></li>
                </ul>
            </li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">CONTACT US</a></li>
            </ul>
          </div>
        </div>
    </nav>
</body>
</html>