<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Assets/styles/common.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../Assets/scripts/common.js"></script>
    <script src="../Assets/scripts/myAppointments.js"></script>
</head>

<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="#">Logo</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Logo</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">Our Services</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#">Appointments</a></li>
                            <li><a href="#">Online Consultation</a></li>
                            <li><a href="#">Health Plan</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Doctors</a>
                        <i class='bx bxs-chevron-down js-arrow arrow '></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="#">Dermatology</a></li>
                            <li><a href="#">Neurology</a></li>
                            <li><a href="#">Gynacology</a></li>
                            <li><a href="#">..</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="margin-top: 95px;">
        <h1 class="uppercase text-3xl text-[#4A249D] text-center font-extrabold">My Appointments</h1>
        <div class="w-3/10 px-5 flex items-center justify-center float-right">
            <button id="loadMoreDiv" class="text-[#4A249D] hover:opacity-70" onclick="loadMoreData()"><i class='bx bxs-down-arrow-circle bx-md'></i></button>
        </div>
        <div class="my-5 border-b-2 pb-5" style="clear: both;">
            <h1 class="uppercase text-md text-[#4A249D] mx-10 font-extrabold">Today Appointments</h1>
            <div class="todayAppointments">
                <div class="flex">
                    <div class="w-3/10 px-5 flex items-center justify-center"></div>
                    <div id="todayAppointment" class="h-50 w-full flex overflow-x-auto scrollbar-custom">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5 border-b-2">
            <h1 class="uppercase text-md text-[#4A249D] mx-10 font-extrabold">Upcoming Appointments</h1>
            <div class="upcomingAppointments">
                <div class="flex">
                    <div class="w-3/10 px-5 flex items-center justify-center"></div>
                    <div id="upcomingAppointment" class="h-50 w-full flex overflow-x-auto scrollbar-custom">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5 border-b-2">
            <h1 class="uppercase text-md text-[#4A249D] mx-10 font-extrabold">Completed Appointments</h1>
            <div class="completedAppointments">
                <div class="flex">
                    <div class="w-3/10 px-5 flex items-center justify-center"></div>
                    <div id="completedAppointment" class="h-50 w-full flex overflow-x-auto scrollbar-custom">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>