<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Assets/styles/common.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../Assets/scripts/common.js"></script>
    <script src="../Assets/scripts/prescription.js"></script>
</head>
<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="#">Logo</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Logo</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">Our Services</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#">Appointments</a></li>
                            <li><a href="#">Online Consultation</a></li>
                            <li><a href="#">Health Plan</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Doctors</a>
                        <i class='bx bxs-chevron-down js-arrow arrow '></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="#">Dermatology</a></li>
                            <li><a href="#">Neurology</a></li>
                            <li><a href="#">Gynacology</a></li>
                            <li><a href="#">..</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="margin-top: 90px;">
        <h1 class="text-center text-2xl uppercase font-extrabold" style="color: #4A249D;">Provide Prescription</h1>
        <div>
          <div id="DoctorInfo" class="flex justify-center"><p>Doctor Name</p>|<p>Doctor Specialization</p></div>
          <div id="PatientInfo" class="my-3 ml-5 p-3">
            <p class="my-2">Patient Name:</p>
            <p class="my-2">Patient Age:</p>
          </div>
            <div class="flex flex-col justify-center">
                <div class="mx-auto">
                  <div class="p-1.5 min-w-50 mx-10 inline-block align-middle">
                    <div class="border rounded-lg shadow overflow-hidden">
                      <table class="min-w-full divide-y divide-gray-200" id="prescriptionTable">
                        <thead class="bg-gray-100">
                          <tr class="text-center">
                            <th scope="col" class="p-3 text-base font-medium text-gray-500 uppercase">Medicine</th>
                            <th scope="col" class="p-3 text-base font-medium text-gray-500 uppercase">Form</th>
                            <th scope="col" class="p-3 text-base font-medium text-gray-500 uppercase">Dosage</th>
                            <th colspan="2" scope="col" class="p-3 text-base font-medium text-gray-500 uppercase">Intake</th>
                            <th scope="col" class="p-3 text-base font-medium text-gray-500 uppercase">IntakeTiming</th>
                            <th scope="col" class="p-3 text-base font-medium text-gray-500 uppercase">Action</th>
                            <th scope="col" class="p-3 text-base font-medium text-gray-500 uppercase"></th>
                          </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                          <tr class="hover:bg-neutral-50" id="templateRow">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                              <input list="medicineList" name="medicine" id="medicine" class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-4 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                              <datalist id="medicineList">
                                  <option value="m1">
                                  <option value="m2">
                              </datalist>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                              <input list="formList" name="form" id="form" class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-4 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                              <datalist id="formList">
                                  <option value="d1">
                                  <option value="d2">
                              </datalist>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                              <input list="dosageList" name="dosage" id="dosage" class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-4 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                              <datalist id="dosageList">
                                  <option value="d1">
                                  <option value="d2">
                              </datalist>
                            </td>
                            <td colspan="2" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                              <input list="intakeList" name="intake" id="intake" class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-4 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                              <datalist id="intakeList">
                                  <option value="Morning, Afternoon,Night">
                                  <option value="Morning,Night">
                                  <option value="Morning,Afternoon">
                                  <option value="Afternoon,Night">
                                  <option value="Morning">
                                  <option value="Afternoon">
                                  <option value="Night">
                              </datalist>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                              <input list="intakeTimeList" name="intakeTime" id="intakeTime" class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-4 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                              <datalist id="intakeTimeList">
                                  <option value="Before food">
                                  <option value="After food">
                              </datalist>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                              <button type="button" id="deleteRow" onclick="deleteRow(this)" class="inline-flex items-center gap-x-2 font-semibold rounded-lg border border-transparent text-red-800 hover:text-blue-800 focus:outline-none focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none"><i class='bx bxs-trash-alt bx-lg'></i></button>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                              <button type="button" id="addRow" onclick="addNewRowForTable()" class=" ml-3 inline-flex items-center gap-x-2 font-semibold rounded-lg border border-transparent text-green-800 hover:text-blue-800 focus:outline-none focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none"><i class='bx bx-plus-medical bx-lg' ></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>