<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Assets/styles/common.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../Assets/scripts/common.js"></script>
    <script src="../Assets/scripts/prescription.js"></script>
</head>

<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="#">Logo</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Logo</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">Our Services</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#">Appointments</a></li>
                            <li><a href="#">Online Consultation</a></li>
                            <li><a href="#">Health Plan</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Doctors</a>
                        <i class='bx bxs-chevron-down js-arrow arrow '></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="#">Dermatology</a></li>
                            <li><a href="#">Neurology</a></li>
                            <li><a href="#">Gynacology</a></li>
                            <li><a href="#">..</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="margin-top: 85px;">
        <h1 class="text-center text-xl uppercase font-extrabold" style="color: #4A249D;">Hospital Name</h1>
        <p class="text-center">location</p>
        <div>
            <div id="DoctorInfo" class="flex text-md font-semibold justify-center">
                
            </div>
            <div class="flex flex-wrap mx-auto justify-between" style="width: 70%;">
                <div id="PatientInfo" class="my-3 ml-10">
                
                </div>
                <div id="PrescriptionInfo" class="my-3 ml-10">
                
                </div>
            </div>
            <div class="flex flex-col justify-center">
                <div class="mx-auto" style="width: 70%;">
                    <div class="p-1.5 w-full mx-auto inline-block align-middle">
                        <div class="border rounded-lg shadow overflow-hidden">
                            <table class="min-w-full divide-y divide-gray-200" id="prescriptionTable">
                                <thead class="bg-indigo-100">
                                    <tr class="text-center">
                                        <th scope="col" class="p-3 text-base font-medium uppercase">Medicine</th>
                                        <th scope="col" class="p-3 text-base font-medium uppercase">Form</th>
                                        <th scope="col" class="p-3 text-base font-medium  uppercase">Dosage</th>
                                        <th scope="col" class="p-3 text-base font-medium  uppercase">Intake</th>
                                        <th scope="col" class="p-3 text-base font-medium  uppercase">IntakeTiming</th>
                                    </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-200 text-center" id="medicineTableBody">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>